body {
    font-family: Arial, sans-serif;
    background: #eef3f8;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 25px;
}

.question label {
    display: blok;
    margin: 8px 0;
}

.name-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

button {
    background: #2979ff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.main-result {
    background: #2979ff;
    color: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.card {
    background: #f7f8fa;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bar {
    height: 20px;
    background: #ddd;
    border-radius: 20px;
 overflow: hidden;
    margin-bottom: 15px;
}

.fill {
    height: 100%;
    background: #2979ff;
}